.navMenu {
  display: flex;
  flex-direction: row;
  justify-content: end;
  background-color: #020100;
  border-bottom: 3px solid #D34E24;
  padding: 0.75rem; 
}

.navMenuList {
  display: inline;
}

.navMenuList li {
  display: inline;
  margin-left: 16px;
}

.authButton {
  padding: 0.65rem 0.85rem;
  font-size: 1rem;
  border: none;
  border-radius: 0.5rem;
}